table {
  margin-left: 5px;
  margin-right: 5px;
  width: 95%;
}

.adminDash {
  display: grid;
  grid-template-columns: 250px auto; 
  margin: 0;
  padding: 0;
  transition: grid-template-columns 0.3s ease;
}

.adminDash .main-content {
  overflow: auto;
}

.centered-table {
  margin: 0 auto; 
}

.featured-icon {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgba(244, 235, 255, 1);
  border-radius: 20px;
  display: inline-block; 
  vertical-align: middle;
}

th, td {
  vertical-align: middle;
  text-align: center;
}

tr:hover {
  background-color: #F9FAFB;
}

.image {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 6px;
  left: 6px;
  object-fit: cover;
}

button:hover {
  opacity: 1;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #3282B5;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  border-radius: 4px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn.confirm {
  background-color: #28a745;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
}

.btn.confirm:hover {
  background-color: #218838;
}

.btn.cancel {
  background-color: #dc3545;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
}

.btn.cancel:hover {
  background-color: #c82333;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .deletebtn {
    width: 100%;
  }
}

.check-animation {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.check-animation svg {
  width: 100px;
  height: 100px;
}

.check-animation circle {
  stroke: white;
  stroke-dasharray: 314; 
  stroke-dashoffset: 314;
  animation: dash 1s linear forwards;
}

.check-animation path {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: dash-check 0.5s 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-check {
  to {
    stroke-dashoffset: 0;
  }
}

.check-svg {
  transform: translateX(3px);
}

.btnCerrar {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #AEE6FF;
  color: #102770;
}

.btnCerrar:active,
.btnCerrar:focus {  
  background-color: #102770;
  color: #fff;
}

.btnCerrar:hover {  
  background-color: #102770;
  color: #fff;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.espaciado {
  margin-bottom: 200px;
}
