<div class="adminDash d-flex">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="main-content flex-grow-1">
    <section>
      <div class="align-items-center">
        <div class="justify-content-center">
          <div class="d-flex justify-content-end mb-3" style="margin: 30px;">
            <button class="btn btn-success" [routerLink]="['/adminDash/crearNota']" routerLinkActive="active">Crear
              Nota</button>
          </div>
          <div class="table-responsive bg-white" data-mdb-perfect-scrollbar="true"
            style="position: relative; height: 70vh;">
            <table class="table centered-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>ID</th>
                  <th>Título</th>
                  <th>Contenido</th>
                  <th>Autor</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let note of notes">
                  <td>
                    <div class="featured-icon">
                      <img class="image" src="../../../assets/notas.png" />
                    </div>
                  <td>{{ note.id }}</td>
                  <td>{{ note.titulo }}</td>
                  <td>{{ truncateText(note.contenido, 30) }}</td>
                  <td>{{ note.usuario.email }}</td>
                  <td>
                    <button class="btn btn-primary" [routerLink]="['/adminDash/notas', note.id]"
                      routerLinkActive="active">Modificar</button>
                    <button mat-raised-button class="btn btn-danger"
                      (click)="confirmarborrarNota(note.id, note.titulo)">Borrar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content">
    <div class="container">
      <h1>Borrando Nota {{ notaBorradoID }} - {{ notaBorradoTitulo }}</h1>
      <p>¿Estas seguro de borrar esta nota?</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'"
          class="cancelbtn">Cancelar</button>
        <button type="button" (click)="ocultarElemento('id01'); borrarNota(notaBorradoID)"
          class="deletebtn">Borrar</button>
      </div>
    </div>
  </form>
</div>

<div id="myModal" class="modal" [ngClass]="{'show': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h1>Borrando Nota {{ notaBorradoID }} - {{ notaBorradoTitulo }}</h1>
    <p>¿Estás seguro que quieres borrar?</p>
    <div class="buttons">
      <button class="btn confirm" (click)="confirmAction(); borrarNota(notaBorradoID)">Confirmar</button>
      <button class="btn cancel" (click)="closeModal()">Cancelar</button>
    </div>
  </div>
</div>

<div id="myModal1" class="modal" [ngClass]="{'show': isModalCerrar}">
  <div class="modal-content">
    <span class="close" (click)="closeModalCerrar()">&times;</span>
    <div class="check-animation">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle cx="26" cy="26" r="25" fill="none" />
        <path fill="none" stroke="#ffffff" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
          d="M14 27l5 5 14-14" class="check-svg" />
      </svg>
    </div>
    <p>Se ha realizado la acción satisfactorimente</p>
    <button class="btnCerrar" (click)="closeModalCerrar()">Cerrar</button>
  </div>
</div>