<div class="espaciado">
  <div class="inicial">
    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-primary" (click)="irAAdminDashProyectos()">Volver</button>
    </div>
    <div *ngIf="showNotification" class="notification alert alert-warning d-flex align-items-center">
      <img src="../../../assets/warning.png" class="warning">
      <span>{{ notificationMessage }}</span>
    </div>
    <h1>{{proyecto.titulo}}</h1>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Detalles Avanzados
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="proyectoForm" (ngSubmit)="modificarProyecto()">
          <div class="form-group mb-3">
            <label for="titulo">
              <h4>Título</h4>
            </label>
            <input type="text" id="titulo" class="form-control" formControlName="titulo" placeholder="Ingrese el título"
              required>
            <div *ngIf="proyectoForm.get('titulo')?.touched && proyectoForm.get('titulo')?.invalid" class="text-danger">
              <div *ngIf="proyectoForm.get('titulo')?.errors?.['required']">El título es requerido.</div>
              <div *ngIf="proyectoForm.get('titulo')?.errors?.['blacklisted']">El título contiene palabras no
                permitidas.</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="descripcion">
              <h4>Descripción</h4>
            </label>
            <textarea id="descripcion" class="form-control" formControlName="descripcion"
              placeholder="Ingrese la descripción" rows="5" required></textarea>
            <div *ngIf="proyectoForm.get('descripcion')?.touched && proyectoForm.get('descripcion')?.invalid"
              class="text-danger">
              <div *ngIf="proyectoForm.get('descripcion')?.errors?.['required']">La descripción es requerida.</div>
              <div *ngIf="proyectoForm.get('descripcion')?.errors?.['blacklisted']">La descripción contiene palabras no
                permitidas.</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="fechaCreacion">
              <h4>Fecha Creación</h4>
            </label>
            <input type="text" id="fechaCreacion" class="form-control" formControlName="fechaCreacion" readonly>
          </div>
          <div class="form-group mb-3">
            <label for="integrantes">
              <h4>Integrantes</h4>
            </label>
            <div *ngFor="let integrante of proyecto.integrantes" class="mb-3 tarjeta">
              <mat-card class="example-card"
                (click)="confirmarborrarUsuario(integrante.id, integrante.nombre, integrante.email)">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>{{integrante.nombre}}</mat-card-title>
                    <mat-card-subtitle>{{integrante.email}}</mat-card-subtitle>
                    <img mat-card-sm-image src="../../../assets/user.png">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div>
            <div class="mb-3 tarjeta agregar">
              <mat-card class="example-card add-card agregar" (click)="agregarIntegrante()">
                <mat-card-content>
                  <mat-icon>add</mat-icon>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-2" [disabled]="proyectoForm.invalid">Modificar
              Proyecto</button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div cdkDropListGroup class="columns-container">
    <div class="example-container">
      <div class="column-header">
        <h2>PENDIENTE</h2>
        <button class="add-button" (click)="nuevatareaForm('PENDIENTE')">+</button>
      </div>
      <div cdkDropList [cdkDropListData]="pendiente" class="example-list" (cdkDropListDropped)="drop($event)"
        id="PENDIENTE">
        <div *ngFor="let tarea of pendiente" class="example-box" cdkDrag>
          <div class="tarea-content" (click)="modtareaForm(tarea)">
            <div class="tarea-titulo">
              <h3>{{tarea.nombre}}</h3>
            </div>
            <div class="tarea-descripcion">{{tarea.descripcion}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <div class="column-header">
        <h2>EN PROGRESO</h2>
        <button class="add-button" (click)="nuevatareaForm('EN_PROGRESO')">+</button>
      </div>
      <div cdkDropList [cdkDropListData]="enProgreso" class="example-list" (cdkDropListDropped)="drop($event)"
        id="EN_PROGRESO">
        <div *ngFor="let tarea of enProgreso" class="example-box" cdkDrag>
          <div class="tarea-content" (click)="modtareaForm(tarea)">
            <div class="tarea-titulo">
              <h3>{{tarea.nombre}}</h3>
            </div>
            <div class="tarea-descripcion">{{tarea.descripcion}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <div class="column-header">
        <h2>COMPLETADO</h2>
        <button class="add-button" (click)="nuevatareaForm('COMPLETADA')">+</button>
      </div>
      <div cdkDropList [cdkDropListData]="completado" class="example-list" (cdkDropListDropped)="drop($event)"
        id="COMPLETADA">
        <div *ngFor="let tarea of completado" class="example-box" cdkDrag>
          <div class="tarea-content" (click)="modtareaForm(tarea)">
            <div class="tarea-titulo">
              <h3>{{tarea.nombre}}</h3>
            </div>
            <div class="tarea-descripcion">{{tarea.descripcion}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Borrar Usuario -->
  <div id="myModal" class="modal" [ngClass]="{'show': isModalBorrarUserOpen}">
    <div class="modal-content">
      <span class="close" (click)="closeBorrarUser()">&times;</span>
      <h2>Está a punto de borrar a un usuario de este proyecto</h2>
      <p>¿Estás seguro?</p>
      <div class="buttons">
        <button class="btn confirm" (click)="closeBorrarUser(); borrarUsuarioConfirmado()">Confirmar</button>
        <button class="btn cancel" (click)="closeBorrarUser()">Cancelar</button>
      </div>
    </div>
  </div>

  <!-- Modal Borrar Usuario Actual -->
  <div id="myModal" class="modal" [ngClass]="{'show': isModalBorrarUserActualOpen}">
    <div class="modal-content">
      <span class="close" (click)="closeBorrarUserActual()">&times;</span>
      <h2>Está a punto de salirte de este proyecto</h2>
      <p>¿Estás seguro?</p>
      <div class="buttons">
        <button class="btn confirm"
          (click)="closeBorrarUserActual(); borrarUsuarioActualConfirmado()">Confirmar</button>
        <button class="btn cancel" (click)="closeBorrarUserActual(); openBorrarUser()">Cancelar</button>
      </div>
    </div>
  </div>

  <!-- Modal Nuevo Usuario -->
  <div id="myModal2" class="modal" [ngClass]="{'show': isModalNuevoUserOpen}">
    <div class="modal-content">
      <span class="close" (click)="closeNuevoUser()">&times;</span>
      <h1>Nuevo Usuario</h1>
      <select id="autor" class="form-select" [(ngModel)]="usuarioN" name="autor">
        <option *ngFor="let usuario of usuarios" [ngValue]="usuario">{{ usuario.email }}</option>
      </select>
      <button class="btnCerrar" (click)="agregarUsuario()"
        style="margin-top: 20px; margin-bottom: 20px;">Añadir</button>
    </div>
  </div>

  <!-- Modal Confirmación -->
  <div id="myModal1" class="modal" [ngClass]="{'show': isModalCerrar}">
    <div class="modal-content">
      <span class="close" (click)="closeModalCerrar(); irAAdminDashProyectos()">&times;</span>
      <div class="check-animation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle cx="26" cy="26" r="25" fill="none" />
          <path fill="none" stroke="#ffffff" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
            d="M14 27l5 5 14-14" class="check-svg" />
        </svg>
      </div>
      <p>Se ha realizado la acción satisfactoriamente</p>
      <button class="btnCerrar" (click)="closeModalCerrar(); irAAdminDashProyectos()">Cerrar</button>
    </div>
  </div>

  <!-- Modal Borrar Tarea -->
  <div id="myModal" class="modal" [ngClass]="{'show': isModalBorrarTareaOpen}">
    <div class="modal-content">
      <span class="close" (click)="closeBorrarTarea()">&times;</span>
      <h1>¿Estás seguro de que quieres borrar la tarea?</h1>
      <p><i>Esta acción es irreversible</i></p>
      <div class="buttons">
        <button class="btn confirm" (click)="closeBorrarTarea(); eliminarTarea()">Confirmar</button>
        <button class="btn cancel" (click)="closeBorrarTarea(); openModTarea()">Cancelar</button>
      </div>
    </div>
  </div>


  <!-- Modal Confirmar Borrar Tarea -->
  <div id="myModal5" class="modal" [ngClass]="{'show': isModalConfirmarBorrarTareaOpen}">
    <div class="modal-content">
      <span class="close" (click)="closeModalCerrar();">&times;</span>
      <div class="check-animation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle cx="26" cy="26" r="25" fill="none" />
          <path fill="none" stroke="#ffffff" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
            d="M14 27l5 5 14-14" class="check-svg" />
        </svg>
      </div>
      <p>Se ha realizado la acción satisfactoriamente</p>
      <button class="btnCerrar" (click)="closeConfirmarBorrarTarea();">Cerrar</button>
    </div>
  </div>

  <!-- Modal Nueva Tarea -->
  <div id="myModalTareaNueva" class="modal" [ngClass]="{'show': isModalNuevoTareaOpen}">
    <div class="modal-content nueva-tarea-modal-content">
      <span class="close nueva-tarea-close" (click)="closeNuevaTarea()">&times;</span>
      <h1>Nueva Tarea</h1>
      <form [formGroup]="tareaNuevaForm" (ngSubmit)="crearTarea()" id="tareaForm">
        <div class="form-group">
          <label for="nuevaTareaNombre">Nombre</label>
          <input type="text" id="nuevaTareaNombre" formControlName="nombre" required>
          <div *ngIf="tareaNuevaForm.get('nombre')?.touched && tareaNuevaForm.get('nombre')?.invalid"
            class="text-danger">
            <div *ngIf="tareaNuevaForm.get('nombre')?.errors?.['required']">El nombre es requerido.</div>
            <div *ngIf="tareaNuevaForm.get('nombre')?.errors?.['blacklisted']">El nombre contiene palabras prohibidas.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="nuevaTareaDescripcion">Descripción</label>
          <textarea id="nuevaTareaDescripcion" formControlName="descripcion" name="descripcion"></textarea>
          <div *ngIf="tareaNuevaForm.get('descripcion')?.touched && tareaNuevaForm.get('descripcion')?.invalid"
            class="text-danger">
            <div *ngIf="tareaNuevaForm.get('descripcion')?.errors?.['blacklisted']">La descripción contiene palabras
              prohibidas.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="nuevaTareaFechaVencimiento">Fecha de Vencimiento</label>
          <input type="date" id="nuevaTareaFechaVencimiento" formControlName="fechaVencimiento" required>
          <div
            *ngIf="tareaNuevaForm.get('fechaVencimiento')?.touched && tareaNuevaForm.get('fechaVencimiento')?.invalid"
            class="text-danger">
            <div *ngIf="tareaNuevaForm.get('fechaVencimiento')?.errors?.['required']">La fecha de vencimiento es
              requerida.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px;"
          [disabled]="tareaNuevaForm.invalid">Añadir</button>
      </form>
    </div>
  </div>

  <div id="myModalTareaMod" class="modal" [ngClass]="{'show': isModalModTareaOpen}">
    <div class="modal-content nueva-tarea-modal-content">
      <span class="close nueva-tarea-close" (click)="closeModTarea()">&times;</span>
      <h1>Modificar Tarea</h1>
      <form [formGroup]="tareaModForm" (ngSubmit)="modificarTarea()" id="tareaForm">
        <div class="form-group">
          <label for="modTareaNombre">Nombre</label>
          <input type="text" id="modTareaNombre" formControlName="nombre" required>
          <div *ngIf="tareaModForm.get('nombre')?.touched && tareaModForm.get('nombre')?.invalid" class="text-danger">
            <div *ngIf="tareaModForm.get('nombre')?.errors?.['required']">El nombre es requerido.</div>
            <div *ngIf="tareaModForm.get('nombre')?.errors?.['blacklisted']">El nombre contiene palabras prohibidas.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="modTareaDescripcion">Descripción</label>
          <textarea id="modTareaDescripcion" formControlName="descripcion"></textarea>
          <div *ngIf="tareaModForm.get('descripcion')?.touched && tareaModForm.get('descripcion')?.invalid"
            class="text-danger">
            <div *ngIf="tareaModForm.get('descripcion')?.errors?.['blacklisted']">La descripción contiene palabras
              prohibidas.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="modTareaFechaVencimiento">Fecha de Vencimiento</label>
          <input type="date" id="modTareaFechaVencimiento" formControlName="fechaVencimiento" required>
          <div *ngIf="tareaModForm.get('fechaVencimiento')?.touched && tareaModForm.get('fechaVencimiento')?.invalid"
            class="text-danger">
            <div *ngIf="tareaModForm.get('fechaVencimiento')?.errors?.['required']">La fecha de vencimiento es
              requerida.</div>
          </div>
        </div>
        <div class="buttons">
          <button type="submit" class="btn confirm" style="margin: 20px;"
            [disabled]="tareaModForm.invalid">Modificar</button>
          <button type="button" class="btn cancel" style="margin: 20px;"
            (click)="confirmarBorrarTarea(); closeModTarea()">Borrar</button>
        </div>
      </form>
    </div>
  </div>
  

</div>