<div class="adminDash">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="contenido">
    <section class="intro">
      <div class="bg-image h-100"
        style="background-image: url('https://st4.depositphotos.com/13324256/20097/i/450/depositphotos_200978284-stock-photo-blank-bright-blue-abstract-background.jpg');">
        <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0,.35);">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="table-responsive bg-white" data-mdb-perfect-scrollbar="true"
                  style="position: relative; height: 445px;">
                  <table class="table .centered-table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fecha Creación</th>
                        <th>Ultima Fecha de modificación</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let proyecto of proyectos">
                        <td>
                          <div class="featured-icon">
                            <img class="image" src="../../../assets/carpeta.png" />
                          </div>
                        </td>
                        <td>{{ proyecto.id }}</td>
                        <td>{{ proyecto.nombre }}</td>
                        <td>{{ proyecto.descripcion }}</td>
                        <td>{{ proyecto.fechaCreacion }}</td>
                        <td>{{ proyecto.ultimaFechaModificacion }}</td>
                        <td>
                          <button class="btn btn-primary" (click)="modificarProyecto(proyecto.id)">Modificar</button>
                          <button class="btn btn-danger" (click)="borrarProyecto(proyecto.id)">Borrar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>