<div class="start-header">
  <div class="contenedor">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <img src="../../../assets/Logo.png" alt="Logo de Ejemplo">
          </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto py-4 py-md-0">
              <!-- Si el usuario está autenticado -->
              <li *ngIf="isAuthenticated" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link logged" routerLink="/adminDash" routerLinkActive="active">boton dashAdmin</a>
              </li>
              <li *ngIf="isAuthenticated" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link logged" routerLink="/userDash" routerLinkActive="active">boton userPage</a>
              </li>
              <li *ngIf="isAuthenticated" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link logged" routerLinkActive="active">{{ userEmail }}</a>
              </li>
              <li *ngIf="isAuthenticated" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link logged" (click)="logout()">Cerrar Sesión</a>
              </li>
              <!-- Si el usuario no está autenticado -->
              <li *ngIf="!isAuthenticated" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Si el usuario está autenticado, mostrar su correo electrónico -->

