table {
    margin-left: 5px;
    margin-right: 5px;
    width: 95%;
  }
  
  .adminDash {
  display: grid;
  grid-template-columns: 250px auto; /* Sidebar ocupa 250px y el contenido el espacio restante */
  margin: 0;
  padding:0;
  }
  
  .contenido {
  justify-content: center; /* Centrar horizontalmente */
  }
  
  .centered-table {
  margin: 0 auto; /* Centra la tabla horizontalmente */
  }
  
  .featured-icon {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgba(244, 235, 255, 1);
  border-radius: 20px;
  display: inline-block; /* Hace que la imagen y el div se muestren en línea */
  vertical-align: middle; /* Alinea verticalmente con el texto */
  }
  
  th, td {
  vertical-align: middle;
  text-align: center;
  }
  
  tr:hover{
  background-color: #F9FAFB;
  }
  
  .image {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 6px;
  left: 6px;
  object-fit: cover;
  }
  .container {
  justify-content: center; /* Centra horizontalmente */
  }
  
  /* Set a style for all buttons */
  
  button:hover {
    opacity: 1;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn,
  .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* Modal styling */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #3282B5;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  border-radius: 4px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn.confirm {
  background-color: #28a745;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
}

.btn.confirm:hover {
  background-color: #218838;
}

.btn.cancel {
  background-color: #dc3545;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
}

.btn.cancel:hover {
  background-color: #c82333;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .deletebtn {
    width: 100%;
  }
}

.check-animation {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.check-animation svg {
  width: 100px; /* Aumenta el tamaño del SVG */
  height: 100px; /* Aumenta el tamaño del SVG */
}

.check-animation circle {
  stroke: white;
  stroke-dasharray: 314; /* Ajustado para un círculo más grande */
  stroke-dashoffset: 314; /* Ajustado para un círculo más grande */
  animation: dash 1s linear forwards;
}

.check-animation path {
  stroke-dasharray: 50; /* Ajustado para el tamaño más grande */
  stroke-dashoffset: 50; /* Ajustado para el tamaño más grande */
  animation: dash-check 0.5s 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-check {
  to {
    stroke-dashoffset: 0;
  }
}

.check-svg {
  transform: translateX(3px); /* Desplaza el SVG 10px hacia la derecha */
}

.btnCerrar{
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #AEE6FF;
  color: #102770;
}

.btnCerrar:active,
.btnCerrar:focus {  
  background-color: #102770;
  color: #fff; /* Para mantener el contraste del texto */
}

.btnCerrar:hover {  
  background-color: #102770;
  color: #fff; /* Para mantener el contraste del texto */
}
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
  
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
  }

  .espaciado{
    margin-bottom: 200px;
  }
  