<div class="container mt-5">
    <h2>Perfil</h2>
    <form>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre" [(ngModel)]="user.nombre"
          name="nombre">
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input type="text" class="form-control" id="apellidos" placeholder="Ingrese los apellidos"
          [(ngModel)]="user.apellidos" name="apellidos">
      </div>
      <div class="form-group">
        <label for="correo">Correo electrónico:</label>
        <input type="email" class="form-control" id="correo" placeholder="Ingrese el correo electrónico"
          [(ngModel)]="user.email" name="email" readonly>
      </div>
      <div class="form-group">
        <label for="contrasena">Contraseña: <b>(Modificar solo en caso de emergencia para cambiar la
            contraseña)</b></label>
        <input type="text" class="form-control" id="contrasena" placeholder="Ingrese la nueva contraseña"
          [(ngModel)]="user.contrasena" name="contrasena">
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary me-2" (click)="modificarUsuario()">Guardar Cambios</button>
      </div>
    </form>
  </div>
  
  <div id="id01" class="modal">
    <form class="modal-content">
      <div class="contain">
        <h1>Logrado</h1>
        <div class="clearfix">
          <button type="button" (click)="ocultarElemento('id01')" class="aceptar">Aceptar</button>
        </div>
      </div>
    </form>
  </div>
  
  <script>
    // Get the modal
    var modal = document.getElementById('id01');
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>