<!-- Contenedor principal para el formulario de creación de nota -->
<div class="container mt-5 espaciado">
  <!-- Botón para volver a la vista anterior -->
  <div class="back">
      <button type="button" class="btn btn-primary" (click)="irAAdminDashNotas()">Volver</button>
  </div>

  <!-- Título de la sección -->
  <h2>Crear Nota</h2>

  <!-- Formulario para crear la nota -->
  <form [formGroup]="notaForm" (ngSubmit)="crearNota()">
      <!-- Campo para el título de la nota -->
      <div class="form-group mb-3">
          <label for="titulo">Título</label>
          <input type="text" id="titulo" class="form-control" formControlName="titulo" required>
          <!-- Mensajes de error para el campo del título -->
          <div *ngIf="notaForm.get('titulo')?.touched && notaForm.get('titulo')?.invalid" class="text-danger">
              <div *ngIf="notaForm.get('titulo')?.errors?.['required']">El título es requerido.</div>
              <div *ngIf="notaForm.get('titulo')?.errors?.['blacklisted']">El título contiene palabras prohibidas.</div>
          </div>
      </div>

      <!-- Campo para el contenido de la nota -->
      <div class="form-group mb-3">
          <label for="contenido">Contenido</label>
          <textarea id="contenido" class="form-control" formControlName="contenido" rows="5" required></textarea>
          <!-- Mensajes de error para el campo del contenido -->
          <div *ngIf="notaForm.get('contenido')?.touched && notaForm.get('contenido')?.invalid" class="text-danger">
              <div *ngIf="notaForm.get('contenido')?.errors?.['required']">El contenido es requerido.</div>
              <div *ngIf="notaForm.get('contenido')?.errors?.['blacklisted']">El contenido contiene palabras prohibidas.</div>
          </div>
      </div>

      <!-- Campo para seleccionar el autor de la nota -->
      <div class="form-group mb-3">
          <label for="email">Autor</label>
          <select id="email" class="form-select" formControlName="email" required>
              <option *ngFor="let usuario of usuarios" [ngValue]="usuario.email">{{ usuario.email }}</option>
          </select>
          <!-- Mensajes de error para el campo del autor -->
          <div *ngIf="notaForm.get('email')?.touched && notaForm.get('email')?.invalid" class="text-danger">
              <div *ngIf="notaForm.get('email')?.errors?.['required']">El autor es requerido.</div>
          </div>
      </div>

      <!-- Botón para enviar el formulario y crear la nota -->
      <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary me-2" [disabled]="notaForm.invalid">Nueva Nota</button>
      </div>
  </form>
</div>

<!-- Modal de acción satisfactoria -->
<div id="myModal1" class="modal" [ngClass]="{'show': isModalCerrar}">
 
