<div cdkDropListGroup>
  <div class="example-container">
    <h2>Columna 1</h2>

    <div
      cdkDropList
      [cdkDropListData]="objetos1"
      class="example-list"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)" id="LaColumnaUno">
      <div *ngFor="let item of objetos1" class="example-box" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Columna 2</h2>

    <div
      cdkDropList
      [cdkDropListData]="objetos2"
      class="example-list"
      (cdkDropListDropped)="drop($event)" id="LaColumnaDos">
      <div *ngFor="let item of objetos2" class="example-box" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>

<button (click)="mostrarElementos()">Mostrar Elementos</button>
