<br>
<br>
<div class="section padding-top-big padding-bottom over-hide">
    <div class="container">
        <div class="row">
            <div class="col-12 section-title-wrap text-center parallax-fade-top">
                <h1>Rellenar con cosas <br>de ejemplo</h1>
            </div>
        </div>	
    </div>
</div>
<br>
<br>
<div class="section padding-bottom-big over-hide">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-3" data-scroll-reveal="enter bottom move 30px over 0.5s after 0.2s">
                <a href="#" class="cursor-link-blog-post-1">
                    <div class="blog-post-box">
                        <h5>Como un cartel de bienvenido o yo que se</h5>
                        <p class="mb-0 mt-3">Texto de ejemplo</p>
                    </div>
                </a>
            </div>
            <div class="col-12 text-center mt-5 mb-3" data-scroll-reveal="enter bottom move 30px over 0.5s after 0.2s">
                <a href="#" class="cursor-link-blog-post-2">
                    <div class="blog-post-box">
                        <h5>Quiero decí</h5>
                        <p class="mb-0 mt-3">Er Pablo</p>
                    </div>
                </a>
            </div>
        </div>	
    </div>
</div>




