<div class="barra-lateral-admin">
    <div class="divider"></div>
    <div class="project-sections">
        <div class="nav-link project">
            <img src="https://cdn-icons-png.flaticon.com/512/47/47774.png" alt=""
                style="width: 30px; margin-right: 5px;">
            <div class="title-description">
                <div class="text-wrapper">Panel de trabajo</div>
                <div class="div">Aquí puedes ver todas tus notas y proyectos</div>
            </div>
        </div>
        <mat-accordion>
            <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Notas
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p *ngFor="let note of notes">
                    {{note.titulo}}
                </p>
                <p>Nueva Nota +</p>
              </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Proyectos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p *ngFor="let proyecto of proyectos">
                    {{proyecto.nombre}}
                </p>
                <p>Nueva Nota +</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>