<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="pb-5 pt-5 pt-sm-2 text-center">
          <h6 class="mb-0 pb-3"><span>Iniciar Sesión </span><span>Registrarse</span></h6>
          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
          <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="text-center">
                    <h4 class="mb-4 pb-3" style="color: white;">Iniciar Sesión</h4>
                    <div class="form-group">
                      <input
                        type="email"
                        [(ngModel)]="email"
                        name="email"
                        class="form-style"
                        placeholder="Correo Electrónico"
                        required="required"
                      />
                    </div>
                    <div class="form-group mt-2">
                      <input
                        type="password"
                        [(ngModel)]="password"
                        name="password"
                        class="form-style"
                        placeholder="Contraseña"
                        required="required"
                      />
                    </div>
                    <a (click)="login()" class="btn mt-4">Iniciar Sesión</a>
                    <p class="mb-0 mt-4 text-center">
                      <a href="#0" class="link">¿Has olvidado la contraseña?</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-back">
                <div class="center-wrap">
                  <div class="text-center">
                    <h4 class="mb-4 pb-3" style="color: white;">Registrarse</h4>
                    <div class="form-group mt-2">
                      <input
                        type="string"
                        [(ngModel)]="nombre"
                        name="nombre"
                        class="form-style"
                        placeholder="Nombre"
                        required="required"
                      />
                    </div>

                    <div class="form-group mt-2">
                      <input
                        type="email"
                        [(ngModel)]="email"
                        name="email"
                        class="form-style"
                        placeholder="Correo Electrónico"
                        required="required"
                      />
                    </div>
                    <div class="form-group mt-2">
                      <input
                        type="password"
                        [(ngModel)]="password"
                        name="password"
                        class="form-style"
                        placeholder="Contraseña"
                        required="required"
                      />
                    </div>
                    <a (click)="register()" class="btn mt-4">Registrarse</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
    </svg>
</div>
</div>
